@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

body {
  margin: 0;
  padding: 0;
 background-color: black;
}

h2{
  position: absolute;
  top: 3em;
  align-content: center;
  z-index: 2;
  font-size: 1.25em;
  padding: 5%;
  color: white;
  left:1%;
  letter-spacing: .35em;
  font-family: 'Open Sans Condensed', sans-serif;
}

h3{
  position: absolute;
  top: 25em;
  align-content: center;
  z-index: 2;
  font-size: 1.25em;
  padding: 5%;
  color: white;
  left:40%;
  right:40%;
  letter-spacing: .35em;
  font-family: 'Open Sans Condensed', sans-serif;
}

p{
  color: white;
  right: 10em;
  left: 10em;
  font-family: 'Abel', sans-serif;
  position: absolute;
  top: 3.5em;
  z-index: 9;
  font-size: 3em;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:2s;
}

.subtext{
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  position: absolute;
  top: 9em;
  right: 10em;
  left: 10em;
  z-index: 1;
  font-size: 2em;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:4s;
}

.title{
  color: #C3D1D8;
  position: absolute;
  padding: 5%;
  z-index: 2;
  font-size: 1em;
  font-family: 'Abel', sans-serif;
  font-weight: 100;
  letter-spacing: .5em;
  left:1%;
  text-decoration: none;
}

.title:hover {
  letter-spacing: .54em;
  color:#6A8CA7;
  opacity: 30%;
  }


.header{
  color:#C3D1D8;
  text-decoration: none;
  z-index: 2;
  float: right;
  padding: .5em;
  font-weight: 800;
  letter-spacing: .6em;
  font-family: 'Abel', sans-serif;
}

.header:hover {
  letter-spacing: .7em;
  color: #6A8CA7;
  }

.mainNav{ 
  /* this made it overlap  */
  position: absolute;
  top: 3em;
  right: 0;
  z-index: 1;
  font-size: 1.6em;
  padding: 5%;
}

canvas{
  width: 100%;
  height: 100%;
  position: relative;
}

/* Hamburger Menu */

.hamburger * {
  transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  box-sizing:border-box;
}

.hamburger {
  position: absolute;;
  margin:100px auto;
  height:50px;
  width:50px;
  right: 2em;
}

.hamburger input[type=checkbox] {
  display:none;
}

.hamburger label {
  cursor:pointer;
  position:absolute;
  z-index:2;
  height:100%;
  width:100%;
  top:0;
  left:-4.3em;
}

.hamburger .line {
  position:absolute;
  height:5px;
  width:100%;
}

.hamburger .diagonal.part-1 {
  position:relative;
  float:left;
  background-color: #C3D1D8;
  ;
}

.hamburger .horizontal {
  position:relative;
  float:left;
  margin-top:6px;
  background-color: #C3D1D8;
}

.hamburger .diagonal.part-2 {
  position:relative;
  float:left;
  margin-top:6px;
  background-color: #C3D1D8;
}

.hamburger input[type=checkbox]:checked ~ .lines > .horizontal {
  transform:scale(2,1);
  -webkit-transform:scale(2,1);
  opacity: 0;
}

.hamburger input[type=checkbox]:checked ~ .lines > .diagonal.part-1 {
  transform:rotate(-135deg);
  -webkit-transform:rotate(-135deg);
  margin-top:10px;
}

.hamburger input[type=checkbox]:checked ~ .lines > .diagonal.part-2 {
  transform:rotate(135deg);
  -webkit-transform:rotate(135deg);
  margin-top:-16px;
}

/*hover effect*/

* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

.btn-2 {
  letter-spacing: 0;
  font-size:1em;
  padding: 1em;
  text-decoration: none;
  color: #2DFDB9;
  display: inline;
}

.btn-2:hover,
.btn-2:active {
letter-spacing: 5px;
color: #ff1456;
}

.btn-2:after,
.btn-2:before {
bottom: 0px;
display: inline;
margin: 0 auto;
position: relative;
transition: all 280ms ease-in-out;
}

.btn-2:hover:after,
.btn-2:hover:before {
backface-visibility: hidden;
border-color: #fff;
transition: width 350ms ease-in-out;
width: 70%;
}

.btn-2:hover:before {
bottom: auto;
top: 0;
width: 70%;
}

/*ICONS*/

.soc {
  position: absolute;
  bottom:0;
  right:3em;
  padding: 1em;
  display: block;
  list-style: none;
  text-align: right;
  z-index: 3;
}
.soc li {
  display: inline-block;
}
.soc a, .soc svg {
  display: block;
}
.soc a {
  position: relative;
  height: 50px;
  height: 3rem;
  width: 50px;
  width: 3em;
}
.soc svg {
  height: 100%;
  width: 100%;
}

.icon-1:hover, .icon-2:hover, .icon-3:hover, .icon-4:hover, .icon-5:hover, .icon-6:hover, .icon-7:hover, .icon-8:hover, .icon-9:hover, .icon-10:hover, .icon-11:hover, .icon-12:hover, .icon-13:hover, .icon-14:hover, .icon-15:hover, .icon-16:hover, .icon-17:hover, .icon-18:hover, .icon-19:hover, .icon-20:hover, .icon-21:hover, .icon-22:hover, .icon-23:hover, .icon-24:hover, .icon-25:hover, .icon-26:hover, .icon-27:hover, .icon-28:hover, .icon-29:hover, .icon-30:hover, .icon-31:hover {
  border-radius: 100%;
  color: white;
  fill: white;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.icon-8 {
  fill: #C3D1D8;
}
.icon-8:hover {
  background: #233656;
}

.icon-10 {
  fill: #C3D1D8;
}
.icon-10:hover {
  background: #233656;
}

.icon-14:hover {
  background: #233656;
}

.icon-15 {
  fill: #C3D1D8;
}
.icon-15:hover {
  background: #233656;
}

.icon-25:hover {
  background: #233656;
}

.icon-26 {
  fill: #C3D1D8;
}
.icon-26:hover {
  background: #233656;
}

.icon-28 {
  fill: #C3D1D8;
}
.icon-28:hover {
  background: #233656;
}

.bookDiv{
  background-color: black;
}




/*GREY SCALE*/

img {
  width: 60%;
  padding:8em;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
:hover img {
  width: 60%;
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

#title-hello {
  letter-spacing: 0px;
  opacity: 1;
  transform: translateZ(20px);
  -webkit-transform: translateZ(20px);
  -moz-transform: translateZ(20px);
}
